<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="/js/Ext/underscore.js"></script>
    <script type="text/javascript" src="/js/Ext/jquery.js"></script>
    <script type="text/javascript" src="/js/Ext/backbone.js"></script>
    <script type="text/javascript" src="/js/Ext/backbone.min.js"></script>
</head>
<body>
    <div class="test1" style="width: 100vw;height: 100vh;">
        <form id="indexForm" target="indexPage"><input id="projectName" name="projectName" type="hidden"><input id="formName" name="formName" type="hidden"><input id="paramList" name="paramList" type="hidden"><input id="datasetList" name="datasetList" type="hidden" hidden></form>
        <iframe id="indexPage" name="indexPage" src="" frameborder="0" style="width: 100vw;height: 100vh;"></iframe>
    </div>
    <div class="test2">
        test2
    </div>
    <div class="test3">
        test3
    </div> 
</body>

</html>